* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'Foldit', cursive;
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Jeju Gothic', sans-serif;
}

:root {
  /* color */
  --title-color: hsl(209, 68%, 36%);
  --point-color: hsl(209, 80%, 60%);
  --dark-blue-color: #1d4659;
  --blue-color: #2b596e;
  --light-blue-color: #3d6b81;
  --button-color: #c6e5ee;
  --black-color:hsl(0, 0%, 35%);
  --white: #f3f3f3e3;
  --vowel-color: #67772f;
  --vowel-hover-color: #515f1e;
}


body {
  height: 100vh;
  background: linear-gradient(hsl(190, 53%, 25%),hsl(191, 100%, 83%));
}

.container {
  /* 자식요소를 화면 가운데 배치하기 위해서는
  부모요소에 width 와 heght가 지정되어 있어야 하며
  이 때 지정단위가 % 이면 세로 가운데 배치가 안되므로 
  아래와 같이 vw, vh를 쓰거나 직접 px 등을 입력해야 한다. */
  width: 100vw;
  height: 90vh;
  /* width: 500px;
  height: 900px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.main-unit{
  position: fixed;
  width: 95vw;
  height: 70vh;
  top: 50px;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 50px;
  border-radius: 10px;
  transition: 1s;
}


.main-unit-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.list {
  list-style: none;
  width: 100px;
  height: 80px;
  line-height: 80px;
  margin: 5px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  background-color: var(--button-color);
  color: var(--blue-color);
}


.recess-unit {
  position: fixed;
  top: 250px;
  z-index: 800;
  /* white color */
  filter: invert(100%) sepia(8%) saturate(221%) hue-rotate(296deg) brightness(118%) contrast(100%);
  visibility: hidden;
}

.thumbsUp{
  animation: thumbsup 1.2s;
}

@keyframes thumbsup {
  0% {transform: scale(0.5);
  opacity: 1;}
  100% {transform: scale(2);
  opacity: 0;}
}


.list:hover {
  background-color: #ffffb6;
  font-size: 20px;
  margin-top: -3px;
  transition: .3s;
}

/* 퀴즈part 전체를 보였다 숨겼다 함. */
.word-visibility{
  
  opacity: 0;
  transition: 1s;
}

.word-quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.word-head {
  display: flex;
  width: 100vw;
  height: 80px;
  padding-top: 30px;
  margin-bottom: 20px;
  padding-left: 10px;
  background-color: var(--dark-blue-color);
  justify-content: space-between;
  color: var(--white);
  font-weight: bold;
  user-select: none;
}

.home {
  width: 170px;
  margin-top: -15px;
  margin-left: -65px;
  /* 연하늘색 */
  filter: invert(93%) sepia(5%) saturate(500%) hue-rotate(160deg) brightness(100%) contrast(77%);
  cursor: pointer;
}

.home:hover {
  transform: scale(1.2);
}

.word-level, .level {
  width: 100px;
  margin-left: 3px;
  font-size: 18px;
}


.serial {
  padding-left: 17px;
  font-size: 15px;
  color: #999;
}

.attainable-point {
  width: 100px;
  line-height: 60px;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
  font-size: 20px;
  color: rgb(255, 255, 100);
}

.attainable-point-add {
  font-size: 28px;
  transition: 0.7s;
}

.attainable-point-afterCorrect {
  font-size: 28px;
  transform: translate(150px, -10px);
  opacity: 0;
  transition: 1s;
}

.point-total-value, .point-today-value {
  width: 120px;
  font-size: 15px;
  text-align: right;
  padding-right: 20px;
}

.point-today-value {
  font-size: 14px;
  color: #999;
}



.word-explanation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  padding: 0 10px;
  height: 80px;
  width: 85vw;
  font-family: 'Kanit';
  /* font-weight: 400; */
  line-height: 18px;
  font-size: 18px;
  /* line-height: 20px; */
  color: var(--dark-blue-color);
  background-color: var(--button-color);
}

.word-explanation-kor {
  font-family: 'jejugothic','Noto Sans KR';
  font-size: 16px;
  line-height: 19px;
}

.word-array-ul, .word-accent-ul, .pronunciation-ul {
  list-style: none;
  display: flex;
}

.word-accent-ul, .pronunciation-ul {
  height: 20px;
}

.word-accent {
  width: 35px;
  height: 20px;
  font-size: 13px;
  margin-left: 1px;
  background-image: url('../img/accent.png');
  background-repeat: no-repeat;
  background-size: contain; 
  /* contain은 박스 크기에 맞게 */
  /* background-size: cover; 꽉차게 */
  background-position: center;
  color: #d8653b;
  filter: invert(46%) sepia(22%) saturate(1530%) hue-rotate(330deg) brightness(99%) contrast(92%);
}


/* --발음기호-------------------------------- */
.word-pronunciation {
  position: absolute;
  text-align: center;
  margin-top: 2px;
  color: var(--light-blue-color);
  
  border-top: 3px solid var(--light-blue-color);
  font-size: 28px;
  line-height: 25px;
  font-weight: bold;
  user-select: none;
}



.word-unit {
  width: 35px;
  height: 38px;
  font-size: 22px;
  line-height: 34px;
  color: var(--white);
  font-weight: bold;
  text-align: center;
  border: 2px solid var(--button-color);
  background-color: var(--blue-color);
  border-radius: 5px;
  user-select: none;
  transition: 0.4s;
}

/* 묵음 발음기호 */
.pronuciationSilent {
  position: absolute;
  /* width: 35px;
  height: 35px; */
  background-image: url(../img/silent.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  /* filter: invert(0%) sepia(100%) saturate(100%) hue-rotate(197deg) brightness(0%) contrast(100%); */
  filter: invert(18%) sepia(95%) saturate(4379%) hue-rotate(359deg) brightness(91%) contrast(137%);
  opacity: 0.35;
  /* filter: invert(58%) sepia(59%) saturate(8%) hue-rotate(33deg) brightness(107%) contrast(85%); */
}


/* 선택된 빈칸을 깜빡이게 하는 효과 */
.word-blank-active {
  margin-top: -3px;
  width: 40px;
  height: 40px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {opacity: 0.7;}
  50% {opacity: 1;}
  100% {opacity: 0.7;}
}

.word-blank-cursor {
  cursor: pointer;
}

.word-unit-vowel {
  background-color: var(--vowel-color);
}


.word-blank-correct {
  background-color: var(--button-color);
  color: var(--dark-blue-color);
  width: 40px;
  height: 40px;
  font-size: 25px;
  line-height: 39px;
  margin-top: -3px;
}



.word-blank-incorrect {
  background-color: orangered;
}

.word-unit-nonselect {
  pointer-events: none;
  user-select: none;
}




.sub-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 250px;
  height: 50px;
}

.hint-button {
  width: 60px;
  height: 35px;
  line-height: 35px;
  font-size: 20px;
  font-weight: bold;
  background-color: #c6e5ee;
  color: var(--blue-color);
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
  box-shadow: 1px 1px 4px gray;
  transition: 1s;
}

.hint-button:hover {
  color: rgb(23, 73, 114);
  font-size: 22px;
}

.listen-button {
  /* visibility: hidden; */
  display: none;
  width: 40px;
  height: 40px;
  background-color: var(--button-color);
  background-image: url('../img/speak.png');
  background-repeat: no-repeat;
  background-size: contain; 
  box-shadow: 1px 1px 4px gray;
  border-radius: 5px;
  margin-right: 20px;
  cursor: pointer;
  transition: .5s;
}

.listen-button-hover {
  transform: scale(1.2);
  background-color: rgb(255, 245, 224);
}

.next-button {
  position: absolute;
  /* bottom: 0px; */
  right: -30px;
  z-index: 100;
  visibility: hidden;
  width: 50px;
  height: 50px;
  font-size: 30px;
  padding-left: 5px;
  line-height: 50px;
  background-color: #333;
  color: var(--white);
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
  box-shadow: 1px 1px 4px black;
}

.language-button {
  position: relative;
  bottom: 25px;
  left: 85%;
  z-index: 100;
  width: 55px;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  background-color: #666;
  /* background-color: #a53521; */
  color: var(--white);
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
  box-shadow: 1px 1px 4px black;
}



/* ----------------keyboard------------------- */
.keyboard-ul, .keyboard-ulVowel {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  margin-top: 16px;
}

.keyboard-ulVowel{
  margin-top: 40px;
}

.keyboard, .keyboardVowel {
  list-style: none;
  width: 50px;
  height: 50px;
  background-color: var(--blue-color);
  font-family:'Kanit', sans-serif;
  font-size: 30px;
  line-height: 50px;
  color: #fafafa;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

.keyboardVowel {
  background-color: var(--vowel-color);
}

.keyboard:hover, .keyboardVowel:hover {
  background-color: var(--dark-blue-color);
  font-size: 32px;
}

.keyboardVowel:hover {
  background-color: var(--vowel-hover-color);
  font-size: 32px;
}




/* PC에서 볼 때 */
  @media screen and (min-width: 768px) {

    .word-title {
      padding-top: 20px;
      height: 100px;
    }
    .word-head,.word-explanation,.word-visibility,.main-unit, .recess-unit {
      max-width: 500px;
    }

}